/* Setup basics CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  /* html */
  --primary-color: #6bc4a2;
  --text-color: #848789;
  --input-border: #d3d7d9;
  --input-text-color: #cdcdcd;
  --bg-dark: #282f35;
  --bg-light: #f7f7f7;
  --heading-color: #353738;
  --nav-link: #4d4959;
}
html {
  font-size: 62.5%; /* 1rem = 10px 
    1rem = 16px; 
  */
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1; /* 1 == font-size*/
  font-weight: 400;
  font-size: 1.8rem;
}
a {
  text-decoration: underline;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
input,
textarea,
button {
  outline: none;
  box-shadow: none;
  font-family: "Lato", sans-serif;
}
/* Your style start from here */
/* Yeu cau:
1. chạy được trên chrome, firefox => flexbox (ko dùng float, inline-block để chia layout)
2. Trang phải responsive
3. Viết theo mobile first hay desktop first đều được
breakpoint: 
mf: min-width
  576
  768
  992
  1200
df: max-width 
  575
  767
  991
  1199
*/

.header {
  text-align: center;
  min-height: 80rem;
  background: url('../images/bg_img.jpg') no-repeat center/cover;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* margin-bottom: 11.5rem; */
}
/* 
Sua:

*/
.nav {
  display: flex;
  justify-content: center;
  padding-top: 3.5rem;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__item {
  padding: 0 3.5rem;
  position: relative;
}
.nav__item:nth-child(1)::before, .nav__item:nth-child(4)::before {
  content: ".";
  position: absolute;
  bottom: 0;
  right: 0;
}
.nav__link {
  color: var(--nav-link);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}
.nav__link:hover, .nav__link:active {
  text-decoration: none;
  color: var(--primary-color);
}
#check {
  display: none;
}
.nav__toggle {
  display: none;
}

.feature__header {
  padding: 11rem 1.5rem;
  text-align: center;
  background-color: var(--bg-light);
}
.feature__icon img {
  margin: 0 auto;
}
.feature__heading {
  text-align: center;
  color: var(--heading-color);
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3.5rem;
}
.feature__header-desc {
  max-width: 108rem;
  margin: auto;
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 1.9;
  margin-top: 3rem;
}
/* Ket thuc sua */
.feature__item:nth-child(2) {
  height: 60rem;
  display: flex;
}
.feature__logo {
  width: 66.66%;
  background: url('../images/bg_img1.jpg') no-repeat center/cover;
}
.feature__logo img {
  margin: 0 auto;
  padding-top: 25rem;
}
.feature__main {
  width: 33.33%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.feature__content {
  height: 66.66%;
  padding-top: 3rem;
}
.feature__content-desc {
  max-width: 35rem;
  margin: auto;
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 1.9;
  margin-top: 2.5rem;
  text-align: justify;
}
.feature__content:before {
  content:"";
  display: block;
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 65.5%;
  left: 50%;
  z-index: 3;
  transform: rotate(45deg);
}
.feature__bg {
  height: 33.33%;
  background: url('../images/bg_img2.jpg') no-repeat center/cover;
}

.feature__item:nth-child(3) {
  height: 60rem;
  display: flex;
  flex-direction: row-reverse;
}
.feature__item:nth-child(3) .feature__logo {
  background-image: url('../images/bg_img4.jpg');
}
.feature__item:nth-child(3) .feature__main .feature__bg {
  background-image: url('../images/bg_img3.jpg');
}

.feature__item:nth-child(4) {
  height: 60rem;
  display: flex;
}
.feature__item:nth-child(4) .feature__main {
  width: 34%;
}
.feature__item:nth-child(4) .feature__logo {
  width: 33%;
  background-image: url('../images/bg_img5.jpg');
}
.feature__item:nth-child(4) .feature__main .feature__bg {
  background-image: url('../images/bg_img6.jpg');
}
.feature__item:nth-child(4) .feature__bg-rest {
  width: 33%;
  background: url('../images/bg_img7.jpg') no-repeat center/cover;
}

.feature__footer {
  background-color: var(--bg-light);
}
.feature__footer .feature__heading {
  padding-top: 9rem;
  font-size: 1.8rem;
  text-transform: none;
}
.feature__footer .feature__heading i {
  font-size: 3rem;
  padding-bottom: 3rem;
}
.feature__footer .feature__heading span {
  color: #bfc0c1;
  font-weight: 300;
  margin-left: 1.5rem;
}
.feature__footer-desc {
  max-width: 108rem;
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 1.9;
  text-align: center;
  margin: auto;
  padding-top: 2rem;
}


.slide {
  height: 15rem;
  padding: 7rem 0;
  background-color: var(--bg-light);
}
.slide__list {
  list-style-type: circle;
  font-size: 3rem;
  list-style-position: inside; 
  display: flex;
  justify-content: center;
  color: #a9afb3;
}
.slide__item {
  width: 2rem;
}
.slide__item:nth-child(1) {
  list-style-type: disc;
}


.product {
  height: 53rem;
  display: flex;
}
.product__block:nth-child(1), .product__block:nth-child(4) {
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;
}
.product__block:nth-child(1) .product__block-img:nth-child(1), .product__block:nth-child(1) .product__block-img:nth-child(2) {
  width: 50%;
}
.product__block:nth-child(1) .product__block-img:nth-child(3) {
  width: 100%;
}
.product__block:nth-child(4) .product__block-img:nth-child(3), .product__block:nth-child(4) .product__block-img:nth-child(2) {
  width: 50%;
}
.product__block:nth-child(4) .product__block-img:nth-child(1) {
  width: 100%;
}
.product__block:nth-child(2), .product__block:nth-child(3) {
  width: 16.66%;
}
.product__block-img img, .product__block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.discover {
  min-height: 20rem;
  text-align: center;
  background-color: var(--bg-dark);
}
.discover__btn {
  color: white;
  background-color: transparent;
  border: 0.1rem solid white;
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 30rem;
  height: 5rem;
  margin-top: 7.5rem;
  font-weight: bold;
}
.discover__btn:hover {
  background-color: var(--primary-color);
}


.giveinfo {
  text-align: center;
  margin-bottom: 20rem;
}
.giveinfo__logo img {
  margin: 0 auto;
  margin-top: 11rem;
}
.giveinfo__para {
  margin: 3.5rem;
  color: var(--text-color);
  font-size: 2.4rem;
  font-style: italic;
}
.giveinfo__email {
  width: 40rem;
  height: 7rem;
  border: 0.1rem solid #cdcdcd;
  font-size: 2rem;
  font-style: italic;
  color: #cdcdcd;
  padding: 3rem;
}
.giveinfo__btn {
  width: 12.5rem;
  height: 7rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: 2.4rem;
  text-transform: uppercase;
}


.footer {
  display: flex;
  margin-bottom: 10rem;
  justify-content: space-around;
  background-color: var(--bg-light);
}
.footer__address {
  color: #96999a;
  font-style: italic;
}
.footer__heading {
  font-size: 1.6rem;
  font-weight: bold;
}
.footer__detail {
  font-size: 1.4rem;
  line-height: 1.28;
}
.footer__contact i {
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
  text-align: center;
  margin: 0.75rem;
}
.footer__contact i:nth-child(1) {
  background-color: #78cdf0;
}
.footer__contact i:nth-child(2) {
  background-color: #537bbd;
}
.footer__contact i:nth-child(3) {
  background-color: #eb5755;
}
.footer__author {
  display: flex;
}
.footer__author-para {
  font-size: 1.4rem;
  line-height: 2;
  color: var(--text-color);
}
.footer__author-img {
  width: 5.5rem;
  height: 3.5rem;
  margin-left: 1rem;
}



/*
df: max-width 
  575
  767
  991
  1199
*/


@media only screen and (max-width: 767px) {
  .nav {
    position: relative;
    z-index: 10;
  }
  .nav__list {
    flex-direction: column;
    transform: translateX(-100vw);
    transition: transform 0.5s;
    position: fixed;
  }
  .nav__item:nth-child(1)::before, .nav__item:nth-child(4)::before {
    content: "";
  }
  .nav__item:not(:last-child) {
    margin-bottom: 3rem;
  }
  .nav__toggle {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 11;
  }
  .nav__icon {
    height: 5rem;
    width: 5rem;
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .nav__icon i {
    font-size: 2.5rem;
    color: white;
  }
  #check {
    display: none;
  }
  .nav #check:checked ~ .nav__list {
    transform: translateX(0);
  }
  .nav__background {
    background: var(--bg-light);
    height: 2rem;
    width: 2rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    /* border-radius: 50%; */
    transform: scale(0);
    transition: transform 0.5s;
  }
  .nav #check:checked + .nav__background {
    transform: scale(100);
  }

  
  .feature__item:nth-child(2) {
    flex-wrap: wrap;
  }
  .feature__logo {
    width: 100%;
    height: 43.1rem;
  }
  .feature__logo img {
    padding-top: 15rem;
  }
  .feature__main {
    width: 100%;
    min-height: 27.2rem;
  }
  .feature__content-desc {
    margin: 0 2rem;
    max-width: 108rem;
  }
  .feature__content:before {
    top: 53%;
  }
  .feature__bg {
    width: 100%;
    height: 28.7rem;
  }
  .feature__item:nth-child(3) {
    flex-wrap: wrap;
    margin-top: 33rem;
  }

  .feature__item:nth-child(4) {
    flex-wrap: wrap;
    margin-top: 33rem;
  }
  .feature__item:nth-child(4) .feature__logo {
    width: 100%;
    height: 86.3rem;
  }
  .feature__item:nth-child(4) .feature__logo img {
    margin-top: 25rem;
  }
  .feature__item:nth-child(4) .feature__main {
    width: 100%;
  }
  .feature__item:nth-child(4) .feature__bg-rest {
    width: 100%;
    height: 86.2rem;
  }
  .feature__item:nth-child(4) .feature__content-desc {
    margin: 0 2rem;
    max-width: 108rem;
  }
  .feature__footer {
    margin-top: 163rem;
  }

  .product {
    flex-wrap: wrap;
  }
  .product__block:nth-child(1), .product__block:nth-child(4) {
    width: 100%;
    height: 76.7rem;
  }
  .product__block:nth-child(2), .product__block:nth-child(3) {
    width: 50%;
    height: 76.7rem;
  }
  .discover {
    margin-top: 177rem;
  }
  .giveinfo {
    margin-bottom: 13rem;
  }
  .footer {
    flex-flow: column nowrap;
    text-align: center;
  }
  .footer__address {
    margin-bottom: 1rem;
  }
  .footer__author {
    margin: 1rem auto;
  }

}
